{% extends 'site_base.html' %}

{% block title %}Modlog - New Project{% endblock %}

{% block subcontent %}
<h1>New Project</h1>



<div class="row mt-4">

  <div class="col-12 col-lg-5 mb-3">


    <div class="row justify-content-between mb-2">
      <div class="col-auto">
        <label for="year-select" class="form-label">Year</label>
      </div>
      <div class="col-9">
        <select name="year-select" id="year-select" class="form-select"></select>
      </div>
    </div>
    <div class="row justify-content-between mb-2">
      <div class="col-auto">
        <label for="make-select" class="form-label">Make</label>
      </div>
      <div class="col-9">
        <select name="make-select" id="make-select" class="form-select"></select>
      </div>
    </div>
    <div class="row justify-content-between mb-2">
      <div class="col-auto">
        <label for="model-select" class="form-label">Model</label>
      </div>
      <div class="col-9">
        <select name="model-select" id="model-select" class="form-select"></select>
      </div>
    </div>
    <div class="row justify-content-between mb-2">
      <div class="col-auto">
        <label for="trim-select" class="form-label">Trim</label>
      </div>
      <div class="col-9">
        <select name="trim-select" id="trim-select" class="form-select"></select>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-7">
    <form method='post'>
      {% for hidden_field in form if hidden_field.widget.input_type == 'hidden' %}
      {{ hidden_field() }}
      {% endfor %}
      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="row justify-content-between mb-2">
        <div class="col-auto ms-lg-3">
          {{ field.label(class="form-label")}}
        </div>
        <div class="col-lg-8 text-start">
          {{ field(class="w-100") }}
          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
        </div>

      </div>
      {% endfor %}

      <input type="submit" value="Add Project Car" class="btn btn-success float-end mb-5">
    </form>
  </div>

</div>


<script src="static/populate_select_fields.js"></script>
{% endblock %}