{% extends 'site_base.html' %}

{% block title %}Modlog - {{ g.project.name }}{% endblock %}

{% block subcontent %}

<link rel="stylesheet" href="{{ url_for('.static',filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/lightbox.css') }}">
{% if g.owner %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endif %}

<div class="row">
  <div class="col-lg-6 col-12 mb-3">
    <div id="big-picture" class="carousel slide mb-3" data-bs-ride="false">
      <div class="carousel-inner mb-1">
        {% if g.project.pictures %}
        {% for picture in g.project.pictures %}
        <div class="carousel-item{% if loop.index0 == 0%} active{% endif %}">
          <a href="{{ url_for('static', filename='assets/project_pictures/'~picture.filename) }}"
            data-lightbox="gallery">
            <img src="{{ url_for('static', filename='assets/project_pictures/'~picture.filename) }}"
              class="d-block w-100">
          </a>
        </div>
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#big-picture" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#big-picture" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% else %}
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='assets/placeholder.jpg') }}" class="d-block w-100">
        </div>
        {% endif %}
      </div>
    </div>
    <div id="thumbnails" class="scrollbox row g-2 overflow-scroll border rounded px-1">
      {% if g.project.pictures %}
      {% for picture in g.project.pictures %}
      <div class="col-xl-3 col-4">
        <img class="w-100 rounded" data-bs-target="#big-picture" data-bs-slide-to="{{ loop.index0 }}"
          src="{{ url_for('static', filename='assets/project_pictures/thumbnails/'~picture.filename) }}" alt="">
        {% if g.owner %}
        <button class="delete-pic btn btn-sm btn-outline-secondary text-decoration-none mt-1">Remove</button>
        <a href="{{ url_for('project.delete_picture', project_id=g.project.id,picture_id=picture.id) }}"
          class="confirm-delete d-none btn btn-sm btn-danger text-decoration-none mt-1">Confirm
        </a>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
      {% if g.owner %}
      <div class="col-xl-3 col-4">
        <a data-bs-target="#addPicture" data-bs-toggle="modal">
          <img class="img-thumbnail w-100" src="{{ url_for('static', filename='assets/add-thumbnail.jpg') }}" alt="">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="mb-2">
      <h1 class="d-inline">{{ g.project.name }} </h1>
      {% if g.current_user %}
      {% if g.project in g.current_user.following %}
      <a class="btn btn-sm btn-outline-success"
        href="{{ url_for('project.remove_follow', project_id=g.project.id) }}">Following</a>
      {% else %}
      <a class="btn btn-sm btn-success" href="{{ url_for('project.add_follow', project_id=g.project.id) }}">Follow</a>
      {% endif %}
      {% endif %}
      {% if g.owner %}
      <a class="btn btn-sm btn-warning" href="{{ url_for('project.edit', project_id=g.project.id) }}">Edit</a>
      <button class="btn btn-sm btn-danger" data-bs-target="#deleteModal" data-bs-toggle="modal">Delete</button>
      {% endif %}
    </div>
    <div class=" row">
      <div class="col-lg-7 col-12">
        <h5>Owned by: <a class="text-decoration-none"
            href="{{ url_for('profile.show',username=g.project.user.username) }}">
            @{{g.project.user.username}}</a>
        </h5>
        Followers <button class="btn badge text-bg-primary" data-bs-target="#followersModal" data-bs-toggle="modal">
          {{g.project.followers|length}}</button>
        <p class="mt-3">{{ g.project.description }}</p>
        {% if g.project.mods or g.owner %}
        <div class="mb-2">
          <span class="h5">Mods </span>
          {% if g.owner %}
          <button id="add-mod" class="btn btn-sm btn-primary" data-bs-target="#addModModal"
            data-bs-toggle="modal">Add</button>
          {% endif %}
        </div>
        {% if g.project.mods %}
        <div id="mods">
          {% for mod in g.project.mods %}
          <p class="mb-1">
            {% if g.owner %} <button class="btn px-1 far fa-trash-alt" data-index="{{ loop.index0 }}"></button> {% endif
            %}{{ mod }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
        {% endif %}
      </div>
      <div class="col-lg-5 col-12">
        <table class="table">
          <tbody>
            <tr>
              <td>Year</th>
              <td>{{ g.project.year }}</td>
            </tr>
            <tr>
              <td>Make</th>
              <td>{{ g.project.make }}</td>
            </tr>
            <tr>
              <td>Model</th>
              <td>{{ g.project.model }}</td>
            </tr>
            <tr>
              <td>Horsepower</th>
              <td>{{ g.project.horsepower }}hp</td>
            </tr>
            <tr>
              <td>Torque</th>
              <td>{{ g.project.torque}}ft/lb</td>
            </tr>
            <tr>
              <td>Weight</th>
              <td>{{ g.project.weight}}lb</td>
            </tr>
            <tr>
              <td>Power to Weight </th>
              <td>{{ g.project.w2p }}lb/hp</td>
            </tr>
            <tr>
              <td>Drivetrain </th>
              <td>{{ g.project.drivetrain }}</td>
            </tr>
            <tr>
              <td>Engine Size </th>
              <td>{{ g.project.engine_size }}L</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static',filename='js/lightbox.js') }}"></script>
<!-- Modals -->
<div class="modal fade" id="followersModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body px-5">
        <ul class="list-group list-group-flush">
          {% for follower in g.project.followers %}
          <li class="list-group-item">
            <a href="{{ url_for('profile.show',username=follower.username) }}" class="h4 text-decoration-none">{{
              follower.username }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if g.owner %}
<div class="modal fade" id="addPicture" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ dropzone.load_css() }}
        {{ dropzone.create(action=url_for('project.add_picture',project_id=g.project.id)) }}
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('project.show',project_id=g.project.id) }}" class="btn btn-secondary">Close</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addModModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Mod</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form action="{{ url_for('project.add_mod', project_id=g.project.id) }}" method="post">
        <div class="modal-body">
          {{ mod_form.hidden_tag() }}
          {{ mod_form.mod(class='form-control') }}
          {% for error in mod_form.mod.errors %}
          {{ error }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-success" value="Add"></input>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Please confirm deletion
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/p/{{g.project.id}}/delete" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('project.static',filename='app.js') }}"></script>
{% endif %}
{% endblock %}