{% extends 'site_base.html' %}

{% block title %}Modlog - {{ g.project.name }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static',filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/lightbox.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ moment.include_moment()}}
{% endblock %}

{% block subcontent %}
<div class="row">
  <div class="col-lg-6 col-12 mb-3">
    <div id="big-picture" class="carousel slide mb-3" data-bs-ride="false">
      <div class="carousel-inner mb-1">
        {% if g.project.pictures %}
        {% for picture in g.project.pictures %}
        <div class="carousel-item{% if loop.index0 == 0%} active{% endif %}">
          <a href="{{ url_for('static', filename='assets/uploads/project_pictures/'~picture.filename) }}"
            data-lightbox="gallery">
            <img src="{{ url_for('static', filename='assets/uploads/project_pictures/'~picture.filename) }}"
              class="d-block w-100">
          </a>
        </div>
        {% endfor %}
        <button class="carousel-control-prev" type="button" data-bs-target="#big-picture" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#big-picture" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% else %}
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='assets/placeholder.jpg') }}" class="d-block w-100">
        </div>
        {% endif %}
      </div>
    </div>
    <div id="thumbnails" class="scrollbox row g-2 overflow-scroll border rounded px-1 pb-2">
      {% if g.project.pictures %}
      {% for picture in g.project.pictures %}
      <div class="col-xl-3 col-4">
        <img class="w-100 rounded" data-bs-target="#big-picture" data-bs-slide-to="{{ loop.index0 }}"
          src="{{ url_for('static', filename='assets/uploads/project_pictures/thumbnails/'~picture.filename) }}" alt="">
        {% if g.owner %}
        <button class="delete-pic btn btn-sm btn-outline-secondary text-decoration-none mt-1">Remove</button>
        <a href="{{ url_for('project.delete_picture', project_id=g.project.id,picture_id=picture.id) }}"
          class="confirm-delete d-none btn btn-sm btn-danger text-decoration-none mt-1">Confirm
        </a>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
      {% if g.owner %}
      <div class="col-xl-3 col-4">
        <a data-bs-target="#addPicture" data-bs-toggle="modal">
          <img class="img-thumbnail w-100" src="{{ url_for('static', filename='assets/add-thumbnail.jpg') }}" alt="">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-6 col-12">
    <div class="mb-2">
      <h1 class="d-inline">{{ g.project.name }}</h1>
      {% if g.current_user %}
      {% if g.project in g.current_user.following %}
      <a class="btn btn-sm btn-outline-success"
        href="{{ url_for('project.remove_follow', project_id=g.project.id) }}">Following</a>
      {% else %}
      <a class="btn btn-sm btn-success" href="{{ url_for('project.add_follow', project_id=g.project.id) }}">Follow</a>
      {% endif %}
      {% endif %}
      {% if g.owner %}
      <div class=" float-end dropdown d-inline">
        <button class="dropdown-button navbar-toggler" type="button" data-bs-toggle="dropdown">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{{ url_for('project.edit', project_id=g.project.id) }}">Edit</a>
          </li>
          <li>
            <button class="dropdown-item" data-href="{{ url_for('project.delete',project_id=g.project.id) }}"
              data-bs-target="#deleteModal" data-bs-toggle="modal">
              Delete
            </button>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class=" row">
      <div class="col-lg-7 col-12">
        <h5>Owned by: <a class="text-decoration-none"
            href="{{ url_for('profile.show',username=g.project.user.username) }}">
            @{{g.project.user.username}}</a>
        </h5>
        Followers <button class="btn badge text-bg-primary" data-bs-target="#modal" data-bs-toggle="modal"
          data-modal-type="followers">
          {{g.project.followers|length}}</button>
        <p id="description" class="mt-3">{{ g.project.description }}</p>
        {% if g.project.mods or g.owner %}
        <div class="mb-2">
          <span class="h5">Mods </span>
          {% if g.owner %}
          <button class="btn btn-sm btn-primary" data-bs-target="#modal" data-bs-toggle="modal"
            data-modal-type="addMod">Add</button>
          {% endif %}
        </div>
        {% if g.project.mods %}
        <div id="mods">
          {% for mod in g.project.mods %}
          <p class="mb-1 text-break">
            {% if g.owner %} <button class="btn px-1 far fa-trash-alt" data-index="{{ loop.index0 }}"></button>
            {% endif %}
            {{ mod }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
        {% endif %}
      </div>
      <div class="col-lg-5 col-12">
        <table class="table">
          <tbody>
            <tr>
              <td>Year</th>
              <td>{{ g.project.year }}</td>
            </tr>
            <tr>
              <td>Make</th>
              <td>{{ g.project.make }}</td>
            </tr>
            <tr>
              <td>Model</th>
              <td>{{ g.project.model }}</td>
            </tr>
            <tr data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Horsepower is the amount of raw power an engine can output. Horsepower is needed to reach higher speeds.">
              <td>Horsepower</th>
              <td>{{ g.project.horsepower }}hp</td>
            </tr>
            <tr data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Torque is the engines strength to get the car moving. Torque is what dictates the acceleration of a vehicle. Too much and traction will become an issue">
              <td>Torque</th>
              <td>{{ g.project.torque}}ft/lb</td>
            </tr>
            <tr data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Weight is a significant factor in a cars performance. More weight makes a car slower and handle worse">
              <td>Weight</th>
              <td>{{ g.project.weight}}lb</td>
            </tr>
            <tr data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Power to Weight ratio is how many pounds each horsepower must move. A lower number generally means a faster car">
              <td>Power to Weight </th>
              <td>{{ g.project.w2p }}lb/hp</td>
            </tr>
            <tr data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Drivetrain style can dictate characteristics of how a car drives">
              <td>Drivetrain </th>
              <td>{{ g.project.drivetrain }}</td>
            </tr>
            <tr>
              <td>Engine Size </th>
              <td>{{ g.project.engine_size }}L</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<hr class="d-lg-block d-none">
<div class="row">
  <div id="updates" class="col-lg-7 col-12 mb-2">
    <div class="mb-4">
      <h2 class="d-inline">Updates </h2>
      {% if g.owner %}
      <button class="btn btn-sm btn-primary" data-bs-target="#modal" data-bs-toggle="modal"
        data-modal-type="newUpdate">New
        Update</button>
      {% endif %}
    </div>
    {% if g.project.updates %}
    {% for update in g.project.updates|sort(attribute='created_at', reverse=True) %}
    <div class=" update border rounded p-2 mb-3">
      <div>
        <div>
          <span class="h5">{{ update.title }}</span>
          <span class="small text-secondary">{{ moment(update.created_at).fromNow(refresh=True) }}</span>
          {% if g.owner %}
          <div class=" float-end dropdown d-inline">
            <button class="dropdown-button navbar-toggler" type="button" data-bs-toggle="dropdown">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" data-update-id="{{ update.id }}" data-modal-type="editUpdate"
                  data-bs-target="#modal" data-bs-toggle="modal">
                  Edit
                </button>
              </li>
              <li>
                <button class="dropdown-item"
                  data-href="{{ url_for('project.delete_update',project_id=g.project.id, update_id=update.id) }} "
                  data-bs-target="#deleteModal" data-bs-toggle="modal">
                  Delete
                </button>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <p class="p-2 text-break">{{ update.content }}</p>
    </div>
    {% endfor %}
    {% else %}
    Nothing Here!
    {% endif %}
  </div>
  <div id="comments" class="col-lg-5 col-12 mb-3">
    <h2 class=" mb-4">Comments</h2>
    <ul class="list-group">
      {% if g.project.comments %}
      {% for comment in g.project.comments %}
      <li class="list-group-item">
        {% if g.current_user == comment.user or g.owner %}
        <div class=" float-end dropdown d-inline">
          <button class="dropdown-button navbar-toggler" type="button" data-bs-toggle="dropdown">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            {% if g.current_user == comment.user %}
            <li>
              <button class="dropdown-item" data-comment-id="{{ comment.id }}" data-modal-type="editComment"
                data-bs-target="#modal" data-bs-toggle="modal">
                Edit
              </button>
            </li>
            {% endif %}
            <li>
              <button class="dropdown-item"
                data-href="{{ url_for('project.delete_comment',project_id=g.project.id, comment_id=comment.id) }} "
                data-bs-target="#deleteModal" data-bs-toggle="modal">
                Delete
              </button>
            </li>
          </ul>
        </div>
        {% endif %}
        <a href="{{ url_for('profile.show',username=comment.user.username) }}" class="small text-decoration-none">@{{
          comment.user.username }}</a>
        <p class="ms-2 mb-0">{{ comment.content }}</p>
        <span class="text-secondary small">{{ moment(comment.created_at).fromNow(refresh=True) }}</span>
      </li>
      {% endfor %}
      {% endif %}
      {% if g.current_user %}
      <li class="list-group-item p-1">
        <form action="{{ url_for('project.new_comment', project_id=g.project.id) }}" method="post">
          {{ comment_form.hidden_tag() }}
          <!-- {# comment_form.user_id()#} -->
          <div class="input-group">
            {{ comment_form.content(class='form-control')}}
            <input class="btn btn-outline-primary" type="submit" value="Submit">
          </div>
        </form>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<script src="{{ url_for('static',filename='js/lightbox.js') }}"></script>
<!-- Modals -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{# When confirming deletion, add the delete URL to the data-href attr on the modal toggle #}
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure?
        <div class="float-end">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a id="confirm-delete" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if g.owner %}
<div class="modal fade" id="addPicture" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {{ dropzone.load_css() }}
        {{ dropzone.create(action=url_for('project.add_picture',project_id=g.project.id)) }}
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('project.show',project_id=g.project.id) }}" class="btn btn-secondary">Close</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script src="{{ url_for('project.static',filename='app.js') }}"></script>
{% endblock %}