body {
  background: darkgray;
}

#content {
  background-color: #ffffffaa;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("background.jpg");
  height: 100vh;
}
