{% extends 'site_base.html' %}

{% block title %}Modlog - {{ g.user.username }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% block subcontent %}
<div class="row g-5">
  <div class="d-flex justify-content-lg-start justify-content-center col-12 col-lg-3 mb-4">
    <div class="d-block ms-lg-0 mb-3" style="height:200px; border-radius: 25%;">
      <img src="{{ url_for('static', filename='assets/profile_pictures/'~g.user.profile_picture) }}" alt=""
        class=".img-fluid " style="height:200px; border-radius: 25%;">
      <h3>{{ g.user.username }}</h3>
      {% if g.owner %}
      <a href="{{ url_for('profile.edit') }}" class="btn btn-secondary btn-sm">Profile Edit
      </a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <div class="mb-3">
      <div class="mb-2">
        <h1 class="d-inline-block align-middle">Projects</h1>
        {% if g.owner %}
        <a class="ms-1 btn btn-primary" href="{{ url_for('project.new') }}">New Project</a>
        {% endif %}
      </div>
      {% if g.user.projects %}
      {% for project in g.user.projects %}
      {% if project.private.value == 'PUBLIC' or project.user == g.current_user %}
      <div class="mb-2 mx-1">
        <a href="{{ url_for('project.show', project_id=project.id) }}" class="text-reset text-decoration-none">
          <div class="row justify-content-between border rounded p-2">
            <div class="col-8">
              <h2>{{ project.name }}</h2>
              <p>{{ project.description|truncate(150,False) }}</p>
            </div>
            {% if project.pictures[0] %}
            <div class="col-4">
              <img
                src="{{ url_for('static',filename='assets/uploads/project_pictures/'~project.pictures[0].filename) }}"
                class="thumbnail img-fluid rounded float-end" alt="">
            </div>
            {% endif %}
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <p class="mt-1">Create a new project to get started!</p>
      {% endif %}
    </div>
  </div>
  {% endblock %}