{% extends 'site_base.html' %}

{% block title %}Modlog - Edit{% endblock %}

{% block subcontent %}

{# dropzone.load_css() #}

<!-- <script src="{# url_for('.static',filename='ajax.js') #}"></script> -->

<div class="row g-5">
  <div class="d-flex justify-content-lg-center col-12 col-lg-3 mb-4">
    <div class="d-block ms-lg-0 mb-3 " style="height:200px;">
      <div class="rounded-circle overflow-hidden position-relative">
        <a data-bs-toggle="modal" href="#change-picture">
          <img src="{{ url_for('static', filename='assets/profile_pictures/'~user.profile_picture) }}" alt=""
            class=".img-fluid " style="height:200px; border-radius: 25%;">
          <div class=" bg-primary text-white fw-bold w-100 p-1 bottom-0 position-absolute text-center">Edit
          </div>
        </a>
      </div>
      <h3>{{ user.username }}</h3>
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <form method="post">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field.label(class="text-align-start") }}
      {{ field(class="form-control mb-2") }}
      {% endfor %}
      <input type="submit" class="btn btn-success float-end" value="Save Changes">
    </form>
  </div>
</div>
<div class="modal fade" id="change-picture" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Profile Picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        To be implemented
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{# dropzone.load_js() #}
{# dropzone.config(id='changeProfilePicture',custom_options='autoProcessQueue: false, addRemoveLinks:
true,maxFilesize: 1024')
#}
{% endblock %}