#private li {
  list-style: none;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 40vh;
  min-height: 400px;
  overflow: hidden;
}

#thumbnails {
  max-height: 300px;
}

#thumbnails img {
  object-fit: cover;
  height: 150px;
}

#thumbnails img:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 200ms;
}
