{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
  integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript">
  const axiosCSRF = axios.create({
    headers: { 'X-CSRFToken': '{{ csrf_token() }}' }
  })
</script>



<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container-fluid container-lg">
    <a class="navbar-brand" href="/">Modlog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        {% if g.current_user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('profile.show',username=current_user.username) }}">@{{
            g.current_user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            href="{{ url_for('profile.show_following',username=current_user.username) }}">Following</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<main class="container min-vh-100 bg-white" style="padding-top: 80px;">
  <div class="mx-2 mx-lg-4">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% block subcontent %}
    {% endblock %}
  </div>
</main>

{% endblock %}